body {
	font-family: 'Abel', sans-serif;
	height: 100%;
	min-height: 100%;
	font-size: 16px;
}


header {
	margin-top: 7%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 7%;
	font-size: 1.5rem; 
}

.intro , .introsub, .introconclude, header h3 {
	margin-top: 30px;
}


footer {
	height: 70px;
	position: relative;
	bottom: -70px;
	
}


@media only screen and (max-width: 800px) {
	header {
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 100px;

	}


} 

@media only screen and (max-width: 600px) {
	header {
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 100px; 
	}



}